@{
    Layout = null;
}
<h1>Examples</h1>
<h2>CompiledView_WithControllers</h2>
<a href="/CVWC">CVWCController index (view: ~/Views/CVWC/index.cshtml)</a><br />
<a href="/CVWC/index2">CVWCController index2 (view: ~/Views/CVWC_TEST.cshtml)</a><br />
<h2>CompiledView_WithoutControllers</h2>
<a href="/Home/test">(view: ~/Views/CV_WithoutC.cshtml")</a><br />
<h2>EmbeddedView_WithoutControllers</h2>
<a href="/Home/test2">(view: ~/Views/EVWC.cshtml")</a><br />
<a href="/Home/test3">(view: ~/Views/EVWCFolder/EVWC.cshtml")</a><br />
